
<body id="firstPage">
  


<h2 id="homeTitle">Home Page</h2>
<% if (!currentUser) { %>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
  <a href="/profile">Profile</a>
<% } else {%>
    <p>Hello, <%= currentUser.name %></p>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
<div class="fall">

</div>

<div class="fallTwo">

</div>


<div class="fallThree">

</div>

<div>
		<span>
			<b>
				<span id="dropsNum">

				</span>
			</b>
		</span>
		
	</div>

	<div id="drops-section"></div>



</body>
<% } %>

